html{
    scroll-behavior: smooth;
}
*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
    transition: 0.4 ease-in;
}
body{
    font-family: "Roboto", sans-serif;
}
ul li{
    list-style: none;
   
}
a{
    text-decoration: none;
    color:aliceblue;
}
a:hover{
    color:red;
}
.institute{
    color:rgb(77, 122, 225);
    font-size: 5rem;
    font-weight: 600;
}
nav{
    background: black;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 2px 3px 2px black;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: x-large;
}
.nav-item{
    margin-left: 2rem;
}
.nav-link{
    font-weight: bold;
}
div{
    border: 1px solid white;
    padding: 5px 10px;
}
div a:hover{
    background-color: red;
    color: white;
    padding: 5px 8px;
}
.logo{
    font-size: 2rem;
    font-weight: 500;
}
.u{
    color:rgb(77, 122, 225);
    font-size:larger;
    font-weight:bold;
}
.u1{
    color:rgb(77, 122, 225);
    font-size:larger;
    font-weight:bold;
}
h2{
    
    color: white;
    text-shadow: 10px 10px 10px rgb(16, 1, 1);
    font-size: 5rem;
    font-weight: 600;
    text-align: center;
    margin: 0;
    padding: 0;
}

.about{
    background-color: rgb(52, 51, 51);
}
.institute1{
    color:white;
    font-size: 6rem;
    font-weight: 600;
    font-stretch: ultra-expanded;
}
p{
    text-align:center;
				color:black;
				font-size:35px;
				font-weight:normal;
                font-weight:bolder;
}
.para{
    font-family: Garamond;
}
#para{
    padding: 5px 10px;
    margin: auto;
    width: 50%;
    align-items: center;
}
.link{
    color: red;
    
}
.link:hover{
    
    text-decoration: underline ;
    text-decoration-color: white;
}
h4{
    font-family:roboto;
    text-shadow: 2px 2px 2px white;

    color: rgb(14, 14, 14);
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    margin: 0;
    padding: 0;
   
}
.about1{
   
    background: rgb(77, 122, 225);
}
.about1 p{
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size:x-large;
     width: 80%;
     padding: 25px 50px;
    margin: auto;
    

}
.quick{
    text-align: center;
   
}
.btn{
    display: inline-block;
    padding: 1.2rem 0.8rem;
    border: none;
    font-size: 1.5rem;
    color: white;
    margin-bottom: 1rem;
    


}
.red{
        background-color: red;

}
.red:hover{
    background-color: red;
    color: white;

}
.button{
    text-align: center;
    background-color: rgb(52, 51, 51);
    
}



